@media only screen and (max-width : 400px) {

    .box {
        width: 280px;
        padding: 15px;
        gap: 15px;
    }
    #input {
        width: 230px;
        padding: 3px;
    }
    .heading {
        font-size: 14px;
    }
    .main h3 {
        font-size: 16px;
    }
    .main {
        gap: 10px;
    }
}